[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "==0.12.4"
pre-commit = "*"
black = "==18.9b0"
flask-ask = {git = "https://github.com/johnwheeler/flask-ask.git"}
pytest = "*"
pytest-flask = "*"
zappa = "*"
awscli = "*"

[requires]
python_version = "3.6"
